/target
/.venv
/.pytest_cache
/dist
/python-dist
/python-test-dist
/release-dist
/release-notes
/release-notes.md
/native-dist
/npm-dist
/npm-tarballs
/prebuilt-vcpkg-dist
/wasm/pkg
/wasm/node_modules
/wasm/package-lock.json
/wasm/*.tgz
/*.egg-info
__pycache__/
*.pyc
*.pyd
*.pdb

/.vscode/settings.json

/test.py
