/target
/.venv
/.pytest_cache
/dist
/python-dist
/python-test-dist
/release-dist
/release-notes
/release-notes.md
/native-dist
/prebuilt-vcpkg-dist
/*.egg-info
__pycache__/
*.pyc
*.pyd
*.pdb

/.vscode/settings.json

/test.py
